@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');

.app {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Montserrat', 'Arial', sans-serif;
  background-color: #fafafa;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.header {
  box-sizing: border-box;
  padding: 27px 0 27px 140px;
  display: flex;
  background-color: #fff;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.03);
}

.logo {
  width: 170px;
  height: 20px;
}

.header__route-links {
  list-style: none;
  padding-top: 2px;
  margin: 0;
  display: flex;
}

.header__route-link {
  color: #000;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(17 / 14);
  text-decoration: none;
}

.header__route-link:last-child {
  padding-left: 91px;
}

.search-bar {
  max-width: 1160px;
  height: 60px;
  margin: 0 auto;
  margin-top: 34px;
  margin-bottom: 40px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.03);
}

.search-bar__buttons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.search-bar__button {
  background-color: #fff;
  color: #49627E;
  margin: 0;
  padding: 0;
  min-width: 216px;
  max-height: 60px;
  border: none;
  margin-left: 2px;
  outline: none;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  overflow: hidden;
}

.search-bar__button_active {
  border-radius: 0 0 10px 10px;
  min-height: 195px;
  border-radius: 0 0 10px 10px;
}

.search-bar__button_position_first {
  border-radius: 10px 0 0 10px;
  min-width: 183px;
  border-radius: 0 0 10px 10px;
}

.search-bar__button_position_second {
  min-width: 207px;
}

.search-bar__button_position_third {
  min-width: 249px;
  padding-left: 35px;
}

.search-bar__button_position_fourth {
  padding-left: 26px;
}

.search-bar__button_position_fifth {
  padding-left: 26px;
  min-width: 204px;
}

.search-bar__title-box {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.search-bar__form {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-bar__form-item {
  margin: 0;
  padding: 0;
}

.search-bar__label {
  margin: 0;
  padding: 0;
  color: #49627E;
  font-weight: normal;
  font-size: 12px;
  line-height: calc(15 / 12);
}

.search-bar__input {
  max-width: 130px;
  border: 0;
  border-bottom: solid rgba(0, 0, 0, 0.2) 1px;
  outline: none;
}

.search-bar__search-button {
  background-color: #0070FB;
  color: #fff;
  margin: 0;
  padding: 0;
  min-width: 89px;
  min-height: 60px;
  border: none;
  margin-left: 2px;
  outline: none;
  border-radius: 0px 10px 10px 0px;
}

.search-bar__button-text {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  font-weight: bold;
  font-size: 12px;
  line-height: calc(15 / 12);
}







.vacancies {
  max-width: 1160px;
  margin: 0 auto;
  margin-top: 41px;
  margin-bottom: 40px;
  box-sizing: border-box;
  display: flex;
  border: green solid 1px;
}

.vacancies__list {
  border: solid blue 1px;
  min-width: 460px;
  margin: 0;
  list-style: none;
  padding-left: 0;
}

.vacancies__element {
  border: solid orange 1px;
  min-height: 133px;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  display: flex;
  padding: 20px 20px 12px 20px;
  margin-bottom: 15px;
}

.vacancies__logo {
  border: solid red 1px;
  width: 68px;
  height: 49px;
  border-radius: 10px;
}

.vacancies__content-box {
  border: solid black 1px;
  padding-left: 15px;
  list-style: none;
  width: 250px;
}

.vacancies__company-name {
  margin: 0;
  font-weight: bold;
  font-size: 10px;
  line-height: calc(12 / 10);
  color: #9AAAB5;
  padding-bottom: 5px;
}

.vacancies__job-name {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(17 / 14);
  padding-bottom: 4px;
}

.vacancies__company-location {
  margin: 0;
  font-weight: bold;
  font-size: 10px;
  line-height: calc(12 / 10);
  color: #9AAAB5;
  padding-bottom: 10px;
}

.vacancies__job-skills {
  margin: 0;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.vacancies__job-skill {
  margin: 0;
  margin-left: 5px;
  font-weight: bold;
  font-size: 9px;
  line-height: calc(11 / 9);
  padding: 5px 4px 4px 10px;
  background-color: #F7F8F9;
  border-radius: 4px;
  margin-bottom: 5px;
  color: #95A5B2;
}

.vacancies__job-skill_position_new-row {
  margin-left: 0;
}

.vacancies__like-box {
  border: solid lime 1px;
  margin: 0;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vacancies__like-button {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 19px;
  align-self: flex-end;
  background-color: transparent;
  border: 0;
  outline: none;
}

.vacancies__job-date {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 9px;
  line-height: calc(11 / 9);
  color: #A1AEB9;
  padding-bottom: 31px;
  align-self: flex-end;
}




.vacancies__description {
  margin: 0;
  padding-top: 23px;
  background: #FFFFFF;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
}

.vacancies__title-box {
  margin: 0;
  padding: 23px 0 27px 30px;
  display: flex;
}

.vacancies__logo_place_description {
  width: 130px;
  height: 84px;
  object-fit: cover;
  margin-right: 51px;
}

.vacancies__title {
  margin: 0;
  padding: 0;
  border: solid gold 1px;
  width: 288px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.vacancies__job-name_place_description {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: calc(24 / 20);
}

.vacancies__subtitle {
  margin: 0;
  padding: 0;
  display: flex;
  border: solid skyblue 1px;
  width: 258px;
  padding-top: 8px;
}

.vacancies__company-name_place_description {
  margin: 0;
  padding: 0;
}

.vacancies__company-location_place_description {
  margin-left: 11px;
  padding-left: 14px;
  border-left: solid #9AAAB5 1px;
  padding-bottom: 0;
}

.vacancies__payment {
  margin: 0;
  padding-left: 30px;
  font-weight: bold;
  font-size: 20px;
  line-height: calc(24 / 20);
}

.vacancies__text-box {
  margin: 0;
  padding-left: 41px;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(20 / 14);
}

.vacancies__list-name {
  font-weight: bold;
}

.vacancies__skill-list {
  list-style: none;
  padding-left: 0;
}